body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', Arial, sans-serif;
   
    font-weight: bold;
    color: white;
    text-align: center;
}
.box{
    background-image: url("bg2.jpg");
    background-size:cover;
    height: 400px;
    width: 300px;
    margin-left: 38rem;
   ;
}

h1 {
    color: black;
}

#message-el {
    font-style: bold;
}

/* 
3. Style the button according to the provided design
text color - #016f32
width      - 150px
background - goldenrod
 */
 
button {
    color: #ffffff;
    width: 150px;
    height: 40px;
    background: rgb(6, 5, 3);
    margin-top: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
}