body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', Arial, sans-serif;
    font-size: medium;
    font-weight: bolder;
    color: rgb(255, 255, 255);
    text-align: center;
}
.box{
    background-image: url("bg2.jpg");
    background-size:cover;
    height: 400px;
    width: 300px;
    margin-left: 38rem;
   ;
}

h1 {
    color: black;
}

#message-el {
    font-style: bold;
}


button {
    color: #ffffff;
    width: 150px;
    height: 40px;
    background: rgb(6, 5, 3);
    margin-top: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
}